body{
    overflow: hidden;
}

.login-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1f2e;  
}


.login-box {
  background: #2d3d7c;
  padding: 3% 2% 2% 2%;
  border-radius: 12px;
  width: 35%;
  height: 50%;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
}

.input {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.input label {
  margin-bottom: 5px;
  color: #ffffff;
}

.input input {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}


#entrar {
  width: 100%;
  margin-top: 18%;
  padding: 10px;
  border-radius: 8px;
  background: #00d2ff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00c6ff;
}

.erro {
  background: #ffe0e0;
  color: #d8000c;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 15px;
}